{:tasks
 {:requires ([babashka.fs :as fs]
             [clojure.string :as str])
  :init (def source-dirs (str/join " " (filter fs/exists? ["src" "test" "dev" "examples"])))

  nrepl {:doc "Start an nREPL server (cider-nrepl) with the dev classpath"
         :task (clojure "-M:dev:nrepl")}

  test {:doc "Run the test suite"
        :task (apply clojure "-M:test" *command-line-args*)}

  lint {:doc "Lint with clj-kondo"
        :task (when (seq source-dirs) (clojure (str "-M:lint --lint " source-dirs)))}

  fmt {:doc "Format all sources in place"
       :task (clojure (str "-M:fmt fix " source-dirs " bb.edn deps.edn"))}

  fmt:check {:doc "Check formatting"
             :task (clojure (str "-M:fmt check " source-dirs " bb.edn deps.edn"))}

  ci {:doc "Everything CI runs"
      :depends [fmt:check lint test]}

  play {:doc "Play a song: bb play trance | bb play my-song.edn [--bars N] [--device NAME]"
        :task (apply clojure "-J-XX:+UseZGC -M -m chaploud.groove.cli play" *command-line-args*)}

  render {:doc "Render a song to WAV: bb render trance [--bars N] [out.wav]"
          :task (apply clojure "-M -m chaploud.groove.cli render" *command-line-args*)}

  songs {:doc "List bundled songs"
         :task (clojure "-M -m chaploud.groove.cli songs")}

  devices {:doc "List audio outputs"
           :task (clojure "-M -m chaploud.groove.cli devices")}

  jar {:doc "Build the library jar into target/"
       :task (clojure "-T:build jar")}

  deploy {:doc "Deploy the jar to Clojars (needs CLOJARS_USERNAME and CLOJARS_PASSWORD set to a deploy token)"
          :depends [jar]
          :task (clojure "-T:build deploy")}

  examples {:doc "Render every bundled song to out/ (smoke test)"
            :task (doseq [song (map :name (clojure.edn/read-string (slurp "resources/chaploud/groove/songs/index.edn")))]
                    (println "rendering" song)
                    (clojure "-M -m chaploud.groove.cli render" song))}}}
