;; Trap at 140 BPM (half-time feel): ratcheted hats, a long 808 and a sparse clap.
{:globals {:tempo 140 :root :c :scale :minor}
 :tracks
 {:kick [:steps {:inst :drum/kick :decay 0.5} "x... .... ..x. ...."]
  :clap [:steps {:inst :drum/clap} ".... .... x... ...."]
  :hat [:steps {:inst :drum/hat :vel 0.5}
        [:x :x {:ratchet 2} :x :x {:ratchet 3} :x :x :x :x {:ratchet 2} :x :x {:ratchet 4} :x :x]]
  :808 [:notes {:inst :synth/sub :gate 1.0 :octave 1} [:q. 0 :e :_ :q :_ :e 3 -2]]
  :bell [:notes {:inst :synth/keys :octave 5 :vel 0.5} [:e 7 :_ 4 :_ 3 :_ 4 :_]]}}
