;; A small shared library. Songs pull it in with {:include ["lib/house-kit.edn"]}.
{:instruments
 {:mylib/kick {:base :drum/kick :decay 0.32 :punch 150.0}
  :mylib/hat {:base :drum/hat :decay 0.03 :tune 1.1}}
 :defs
 {:mylib/four [:steps {:inst :mylib/kick} "x... x... x... x..."]
  :mylib/backbeat [:steps {:inst :drum/clap} ".... x... .... x..."]
  :mylib/offbeat [:steps {:inst :mylib/hat :vel 0.6} "..x. ..x. ..x. ..x."]
  :mylib/house [:par :mylib/four :mylib/backbeat :mylib/offbeat]}}
