;; Chord progressions in Roman numerals, one chord per bar. Uppercase is major, lowercase minor.
;; Each fixes the scale its numerals are written in and follows :root; :inst, :voicing and :octave
;; can be set where they are used.
{:defs
 {:prog/axis [:notes {:inst :synth/pad :scale :major} [:w :I :V :vi :IV]]
  :prog/sensitive [:notes {:inst :synth/pad :scale :major} [:w :vi :IV :I :V]]
  :prog/epic [:notes {:inst :synth/pad :scale :minor} [:w :i :VI :III :VII]]
  :prog/andalusian [:notes {:inst :synth/pad :scale :minor} [:w :i :VII :VI :V]]
  :prog/ii-v-i [:notes {:inst :synth/keys :scale :major} [:w :ii7 :V7 :Imaj7 :Imaj7]]
  :prog/royal-road [:notes {:inst :synth/pad :scale :major} [:w :IVmaj7 :V7 :iii7 :vi]]
  :prog/komuro [:notes {:inst :synth/pad :scale :major} [:w :vi :IV :V :I]]
  :prog/canon [:notes {:inst :synth/pad :scale :major} [:w :I :V :vi :iii :IV :I :IV :V]]
  :prog/blues [:notes {:inst :synth/keys :scale :major} [:w :I7 :IV7 :I7 :I7 :IV7 :IV7 :I7 :I7 :V7 :IV7 :I7 :V7]]
  :prog/dorian-vamp [:notes {:inst :synth/keys :scale :dorian} [:w :i7 :IV7]]
  :prog/deep-house [:notes {:inst :synth/keys :scale :minor} [:w :i7 :VImaj7 :iv7 :v7]]}
 :about
 {:prog/axis {:tags #{:progression :pop :major :edm} :doc "I-V-vi-IV, the most common pop progression"}
  :prog/sensitive {:tags #{:progression :pop :edm} :doc "vi-IV-I-V, the same chords starting from the minor"}
  :prog/epic {:tags #{:progression :minor :trance :edm} :doc "i-VI-III-VII, the minor anthem loop"}
  :prog/andalusian {:tags #{:progression :minor :flamenco} :doc "i-VII-VI-V, the descending Andalusian cadence"}
  :prog/ii-v-i {:tags #{:progression :jazz} :doc "ii7-V7-Imaj7 with sevenths"}
  :prog/royal-road {:tags #{:progression :j-pop :anime} :doc "IVmaj7-V7-iii7-vi, the J-pop royal road"}
  :prog/komuro {:tags #{:progression :j-pop :eurobeat} :doc "vi-IV-V-I"}
  :prog/canon {:tags #{:progression :classical :pop} :doc "Pachelbel's eight-chord canon"}
  :prog/blues {:tags #{:progression :blues} :doc "Twelve-bar blues with dominant sevenths"}
  :prog/dorian-vamp {:tags #{:progression :funk :house :dorian} :doc "i7-IV7 in dorian"}
  :prog/deep-house {:tags #{:progression :house :minor} :doc "i7-VImaj7-iv7-v7 minor-seventh chords"}}}
